<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%- attraction_name %>
  <%- congestion_level %>
  <!-- <img src="./images/カリブの海賊.jpeg"> -->
  <img src="images/カリブの海賊.jpeg ">
  <%- include('/images/カリブの海賊.jpeg'); %>
</body>
</html>